body {
    font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //font-family: 'Oswald', sans-serif;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.1em;
}

.read {
    font-family: "Tinos", serif;
}

.h6,
.h5,
.h4,
.h3,
.h2,
.h1,
.p {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.1em;
}

.offcanvas {
    width: 100% !important;
    @media (min-width: 576px) {
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        width: 75% !important;
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        width: 35% !important;
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        //width:75% !important;
    }
}

//required asterisk
.required:after {
    content: " *";
    color: red;
}
