body {
    font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //font-family: 'Oswald', sans-serif;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.1em;
}

.read {
    font-family: "Tinos", serif;
}

.h6,
.h5,
.h4,
.h3,
.h2,
.h1,
.p {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.1em;
}
