// // Body
// $body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
//$font-size-base: 0.9rem;
$line-height-base: 1.6;

//$primary: #2a5196;
$primary: #074797;
$secondary: #0675B0;
$dark: #252525;
$black: #252525;
$accordion-icon-color: white;
$accordion-icon-active-color:white;
$accordion-bg: $primary;
$accordion-color: white;
$accordion-button-color: white;
$accordion-button-active-bg: $secondary;
$accordion-button-active-color: white;
$accordion-button-focus-box-shadow: white;

$input-border-color: $dark;
